parameters:
  fileExtensions:
      - php
      - module
      - install
  paths:
    - src
    - tests
  excludePaths:
    - vendor
  level: 5
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      message: '#^Unsafe usage of new static#'
      path: src/Targets/AbstractLogTarget.php
    -
      message: '#^Unsafe usage of new static#'
      path: src/ResilientLogger.php      